@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;700&display=swap');

:root {
    --backgroundColor: #0D0D0D;
    --secondaryColor: #D95A11;
    --detaisColor: #7EF2E7;
    --menuMobColor: #262626;
    --IconColor: #D9D9D9;
    --cardBackground: #595959;

    --fontDestaque: 35px;
    --fontHeadLine: 30px;
    --fontSubHeadig: 25px;
    --fontTitulos: 20px;
    --fontSubtitulos: 16px;
    --fontcardInfos: 14px;
    --fontParagraphs: 12px;
    --fontInfo: 10px
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-family: 'Sometype Mono', monospace; */
    scroll-behavior: smooth;
    font-size: 16px;
}

.darkenBackground {
    user-select: none;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #0d0d0d85;
    /* position: absolute; */
    position: fixed;
    z-index: 3;
}

section {
    width: 100%;
    height: 100vh;
}


.menuMobile,
.iconsNav,
.ulList,
.liItems,
.footerMenuMobile p,
.mainSection,
.AboutMeSection,
.informations {
    display: flex;
}

span {
    cursor: pointer;
    user-select: none;
    /* color: var(--IconColor); */
    /* background-color: #7EF2E7; */
}

.externalMenu {
    margin-top: 8px;
    padding: 16px 32px 16px 16px ;
    color: var(--IconColor);
    position: fixed;
    font-size: 24px;
    z-index: 4;
}

.menuIcon {
    margin-top: 8px;
    padding: 16px 32px 16px 16px ;
    font-size: 24px;
    /* background-color: #D95A11; */
}

.menuIcon:is(.house) {
    padding: 16px ;
    /* background-color: #D95A11; */
}


.iconsNav {
    /* margin: 10px 10px; */
    justify-content: space-between;
    width: 100%;
    /* height: px; */
    font-size: 56px;
    color: var(--detaisColor);

    /* background-color: rebeccapurple; */
}
.menuMobile {
    /* position: relative; */
    position: fixed;
    /* display: none; */
    flex-direction: column;
    width: 288px;
    /* max-width: 70%; */
    height: 100vh;
    background-color: var(--menuMobColor);
    align-items: center;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: 5;
    border-radius: 0px 20px 20px 0px;
}


.iconsNav span:nth-child(2) .link {
    text-decoration: none;
    color: var(--detaisColor);
}

.ulList {
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    text-align: center;
    top: 50px;
    /* background-color: brown; */
    height: 50%;
    width: 100%;
    border-top: 1px solid #7ef2e654;
    border-bottom: 1px solid #7ef2e644;
}

.liItems {
    list-style: none;
    align-items: center;
    justify-content: center;
    /* background-color: yellowgreen; */
    height: 48px;
    width: 90%;
    margin-left: 16px;
    /* border: 1px solid black; */
    /* background-color: #D95A11; */
}

.liItems:hover{
  background-color: #4d4d4d;
}

.liItems a {
    /* background-color: aqua; */
    height: 48px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
    color: var(--detaisColor);
    font-size: var(--fontSubtitulos);
    font-weight: 600;
    /* background-color: #D95A11; */
}

.liItems a:hover {
    background-color: #595959;   
}

.liItems a:not(.link) {
    width: 100%;
    height: 100%;

}

.liItems a span {
    margin-right: 24px;
}

.footerMenuMobile {
    /* background-color: aqua; */
    position: relative;
    top: 250px;
    text-align: center;
    text-align: center;
}

.footerMenuMobile p {
    color: var(--detaisColor);
    /* height: 40px; */
    align-items: center;
    justify-content: center;
    font-size: var(--fontInfo);
}

.footerMenuMobile p a {
    color: #8efff4;

    text-decoration: none;
}

.footerMenuMobile p span {
    font-size: var(--fontInfo) !important;
    margin-right: 8px;
}

.openMenu {
    animation: openMenu 0.4s ease-in-out forwards;
}

.closeMenu {
    animation: closeMenu 0.4s ease-in-out forwards;
}

@keyframes openMenu {
    to {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-102%);
    }
}


/* Section One */

.mainSection {
    /* align-items: center; */
    height: 100vh;
    background-color: var(--menuMobColor);
    overflow-x: hidden;
}






/* Section Two */

.AboutMeSection {
    background-color: var(--menuMobColor);
    flex-direction: column;
}

.sectionAboutMeTitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    color: var(--detaisColor);
}

.scene {
    margin: 0 auto;
    /* background-color: rebeccapurple; */
    max-width: 340px;
    width: 90%;
    height: 73%;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 20px;
    min-width: 330px;
}

.card-face {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
}

.card-front {
    overflow: hidden;
    /* background: rgb(243, 131, 131); */
}

.cardBackground {
    width: 100%;
    height: 180px;
    background-color: rebeccapurple;
    /* border-radius: 0% 0% 35% 35%; */
    /* position: relative; */
}
.cardBackground img {
    width: 100%;
    height: 100%;
}

.myImage {
    margin: 0 auto;
    /* position:relative; */
    position: absolute;
    transform: translate(62%, -84%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--menuMobColor);
    /* top: -20px; */
    overflow: hidden;
    border: 2px solid var(--detaisColor);
    z-index: 2;
}
.myImage img { 
    width: 100%;
    height: 100%;
    margin: 9px 0px 0px -4px;
}

.curveBackground {
    position: absolute;
    width: 160%;
    height: 80%;
    border-radius: 50% 50% 0% 0%;
    transform: translate(-100px, -53px);
    background-color: var(--cardBackground);
}

.alignPersonalInfos {
    /* position: absolute; */
    width: 55%;
    /* height: 100%; */
    /* background-color: cadetblue; */
    transform: translate(41%, 0%); 
    margin-top: 86px;
}

.informations{
    flex-direction: column;
    text-align: center;
    text-align: start;
    margin: 0 auto;
    padding: 90px 0px 0px 0px;
    width: 52%;
}
.informations .personalInformations{
    margin: 0 auto;
    z-index: 2;
    font-size: 1.4em;
    color: white;
} 

.contactInformations {
    font-size: var(--fontcardInfos);
    margin-top: 22px;
    width: 100%;
    margin-bottom: 10px;

}

.pagraphsInforms{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
}

.pagraphsInforms .iconInforms{
    display: flex;
    align-items: center;
    color: var(--detaisColor);
    margin-right: 5px;
}

.informsIcon{
    margin-right: 5px;
    font-size: var(--fontcardInfos);
}

.gitlink a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 30px;
    /* background-color: #D95A11; */
}
.gitlink a:active {
    text-decoration: none;
    color: var(--detaisColor);
}
 
.card-back {
    background: rgb(140, 140, 248);
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);

}