@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

:root {
    --backgroundColor: #343434;
    --secondaryColor: #ff7f35;
    --detaisColor: #04ADBF;
    --menuMobColor: #262626;
    --oddbackgroundColor: #474747;
    --cardDesktopColor: #292929;
    --IconColor: #D9D9D9;
    --cardBackground: #696969;

    --menuDeskColor: #292929;

    --fontDestaque: 35px;
    --fontHeadLine: 30px;
    --fontSubHeadig: 25px;
    --fontTitulos: 20px;
    --fontSubtitulos: 16px;
    --fontcardInfos: 14px;
    --fontParagraphs: 12px;
    --fontInfo: 10px;

    --fontProject: 'Nunito Sans', sans-serif;
}

@media screen and (min-width: 992px) {

    html,
    body {
        background-color: #343434;

    }

    .sectionAboutMeTitle {
        padding-top: 100px;
        margin-bottom: 15px;

    }

    [data-js="desktopMenu"] {
        display: block;
    }

    [data-js="mobileMenu"] {
        display: none;
    }

    .mainSection {
        background: url(../img/menino.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .menuDesktop {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: end;
        background-color: var(--menuDeskColor);
        z-index: 4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);

    }

    .menuDesktop ul:first-child {
        /* position: fixed; */
        height: 64px;
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 16px;
        /* background-color: #ff7f35; */
    }

    .menuDesktop ul span {
        display: flex;
        justify-content: start;
        align-items: center;

    }


    .menuDesktop ul:nth-child(2) {
        /* position: fixed; */
        height: 64px;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        /* background-color: #ff7f35; */

    }

    .menuItems {
        display: flex;
        align-items: center;
        list-style: none;
        /* background-color: #696969; */
    }

    .menuItems a {
        color: var(--detaisColor);
        text-decoration: none;
        /* background-color: rebeccapurple; */
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
    }

    .menuItems a:hover {
        color: var(--bgColor);
        background-color: rgb(0, 229, 255);
        box-shadow: 0px 0px 10px 1px var(--detaisColor);

    }


    .AboutMeSection {
        /* background-color: transparent; */
        background-color: transparent;
        flex-direction: column;

    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        /* background-color: var(--backgroundColor); */
        width: 90%;
        height: 450px;
        position: relative;
        border-radius: 0px;
        max-width: 1200px;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        box-shadow: none;
        border: none;
        align-items: center;

    }

    .cardInternalItems {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43%;
        /* height: 0px; */
        /* height: 540px; */
        /* background-color: #04ADBF; */
    }

    .imgContainer {
        display: flex;
        justify-content: end;
        width: 100%;
        /* margin-left: 60px; */
    }

    .myImage {
        z-index: 1;
        /* position: absolute; */
        /* position: absolute; */
        /* top: -70px; */
        width: 63%;
        /* height: 100%; */
        margin: 0px;
        background-color: var(--menuMobColor);
        border-radius: 0px;
        overflow: hidden;
        top: 0px;
        /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425); */
        box-shadow: none;
        border: none;
    }

    .myImage img {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin-left: -4px;
        margin-top: 9px;
    }

    .backgroundImage {
        width: 64%;
        height: 100%;

        /* transform: translate(35px, 8px); */
        /* z-index: -1; */
    }

    .ButtonLearMore {
        border-radius: 0px;
    }

    .aboutMeContainer {
        display: block;
        /* font-weight: 200; */
        /* line-height: 0px; */
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        flex-grow: 0;
        width: 50%;
        color: var(--IconColor);
        /* background-color: #ff7f35; */
        margin-left: 40px;
    }

    .aboutMeContainer h1 {
        text-align: start;
        width: 187px;
        margin-bottom: 10px;
        border-bottom: 3px solid var(--detaisColor);
        margin-bottom: 17px;
    }

    .aboutMeContainer p:is(.textAboutMe) {
        font-size: 17px;
        color: var(--IconColor);
        width: 94%;
        /* font-family: Arial, Helvetica, sans-serif; */
    }

    .aboutMeContainer .highLightParagraphs p {
        /* ma-bottom: 0px; */
        margin: 8px 0px 8px 65px;
    }


    .servicesContainer {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: rebeccapurple; */
        width: 100%;
        /* height: 80vh; */
        margin-top: 70px;
    }


    /* Section skills */

    .skills {
        width: 250px;
        /* background: rebeccapurple; */
    }

    .svgContainer {
        margin-top: 40px;
    }

    .container {
        display: none;

    }
    .projects {
        width: 1200px; 
        /* height: 410px; */
        margin: 20px auto;
        gap: 15px;
    }

    .projects div {
        width: 250px;
        height: 200px;
        background-color: #04ADBF;
        transition: 0.7s ease-in-out;
    }


}