@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;700&display=swap');

:root {
    --backgroundColor: #0D0D0D;
    --secondaryColor: #ff7f35;
    --detaisColor: #04ADBF;
    --menuMobColor: #262626;
    --bgColor: #222222;
    --cardDesktopColor: #292929;
    --IconColor: #D9D9D9;
    --cardBackground: #696969;

    --fontDestaque: 35px;
    --fontHeadLine: 30px;
    --fontSubHeadig: 25px;
    --fontTitulos: 20px;
    --fontSubtitulos: 16px;
    --fontcardInfos: 14px;
    --fontParagraphs: 12px;
    --fontInfo: 10px;

    --fontProject: 'Bai Jamjuree', sans-serif;
}

@media screen and (min-width: 992px) {

    .mainContainer:only-child {
        text-align: start;
        margin-left: 50px;
    }

    .cvButton {
        margin: 0px;
    }

    .AboutMeSection {
        background-color: transparent;
        /* background-image: linear-gradient(180deg, #000000 0%, #434343 100%); */
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        background-color: var(--cardDesktopColor);
        width: 80%;
        height: auto;
        position: relative;
        border-radius: 20px;
        max-width: 1200px;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527);

    }

    .cardInternalItems {
        width: 28%;
        height: 100%;
        /* height: 540px; */
        background: var(--cardBackground) url(/img/bg\ copi.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .cardBackground {
        display: none;
    }

    .cardBackground img {
        display: none;
    }

    .myImage {
        z-index: 1;
        /* position: absolute; */
        /* position: absolute; */
        /* top: -70px; */
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: var(--menuMobColor);
        border-radius: 50%;
        overflow: hidden;
        top: 16px;
        /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425); */
        box-shadow: 0px 0px 5px 0px var(--detaisColor);
    }

    .myImage img {
        width: 100%;
        height: 99%;
        /* border-radius: 50%; */
        margin-left: -4px;
        margin-top: 9px;
    }

    .curveBg {
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        border-radius: 0px;
        border-top: none;
        overflow: hidden;

    }

    .aligParagaph {
        width: 100%;
        background-color: #262626;
    }


    .gitRepositorieNum {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 8px 0px;
    }

    .gitRepositorieNum p {
        text-align: center;
        width: 150px;
        height: 16px;
        /* background-color: rgb(153, 112, 51); */
        margin-right: 14px;
        /* color: var(--IconColor); */
        color: var(--detaisColor);
        margin-bottom: 4px;
        margin: 0 auto;
        font-size: var(--fontParagraphs);
    }

    .gitRepositorieNum p:nth-child(2) {
        /* color: var(--secondaryColor); */
        color: var(--IconColor);
    }

    .projectsGif {
        font-size: var(--fontParagraphs);
    }

    .informations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        width: 84%;
        height: 60%;
        /* background-color: #04ADBF; */
    }

    .personalInformations p {
        font-size: 1em;
        color: var(--IconColor);
    }

    .contactInformations {
        margin: 5px auto;
        width: 100%;
        color: var(--IconColor);
    }


    .ButtonLearMore {
        border-radius: 0px;
    }

    .aboutMeContainer {
        display: block;
        flex-grow: 1;
        width: 60%;
        /* background-color: #ff7f35; */
    }


}