
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;700&display=swap');


@media screen and (min-width: 480px) and (max-width: 750px) {

    .projects {
        gap: 10px;
        width: 75%;    
    }

    .projects div {
        width: 170px;
        height: 140px;
        background-color: #04ADBF;
        transition: 0.7s ease-in-out;
    }
   
}