@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Sometype+Mono:wght@400;500;700&display=swap');

:root {
    --backgroundColor: #0D0D0D;
    --secondaryColor: #ff7f35;
    --detaisColor: #04ADBF;
    --menuMobColor: #262626;
    --bgColor : #222222;
    --IconColor: #D9D9D9;
    --cardBackground: #696969;

    --fontDestaque: 35px;
    --fontHeadLine: 30px;
    --fontSubHeadig: 25px;
    --fontTitulos: 20px;
    --fontSubtitulos: 16px;
    --fontcardInfos: 14px;
    --fontParagraphs: 12px;
    --fontInfo: 10px;

    --fontProject: 'Bai Jamjuree', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-family: 'Sometype Mono', monospace; */
    scroll-behavior: smooth;
    font-size: 16px;
    background: url(../img/full.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;

}

.darkenBackground {
    user-select: none;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #0d0d0da1;
    /* position: absolute; */
    position: fixed;
    z-index: 3;
}

section {
    width: 100%;
    min-height: 100vh;
}


.menuMobile,
.iconsNav,
.ulList,
.liItems,
.footerMenuMobile p,
.mainSection,
.AboutMeSection,
.informations {
    display: flex;
}

span {
    user-select: none;
    /* color: var(--IconColor); */
    /* background-color: #7EF2E7; */
}

.externalMenu {
    cursor: pointer;
    margin-top: 8px;
    padding: 16px 32px 16px 16px;
    color: var(--IconColor);
    position: fixed;
    font-size: 24px;
    z-index: 4;
}

.externalMenu:hover {
    color: rgb(0, 229, 255)
}

.menuIcon {
    cursor: pointer;
    margin-top: 8px;
    /* padding: 16px 32px 16px 16px ; */
    font-size: 24px;
    /* background-color: #D95A11; */
}

.iconsNav {
    /* margin: 10px 10px; */
    justify-content: space-between;
    width: 100%;
    /* height: px; */
    font-size: 56px;
    color: var(--detaisColor);
    padding: 16px;

    /* background-color: rebeccapurple; */
}

.menuImgContainer {
    width: 48px;
    height: 48px;
    background-color: #4d4d4d;
    border-radius: 50%;
    overflow: hidden;

}

.menuImgContainer img {
    width: 100%;
    height: 100%;
    margin-left: -1px;
}

.menuMobile {
    justify-content: space-between;
    /* position: relative; */
    position: fixed;
    /* display: none; */
    flex-direction: column;
    width: 288px;
    /* max-width: 70%; */
    height: 100vh;
    background-color: var(--menuMobColor);
    align-items: center;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: 5;
    border-radius: 0px 20px 20px 0px;
}


.iconsNav span:nth-child(2) .link {
    text-decoration: none;
    color: var(--detaisColor);
    cursor: pointer;
}

.ulList {
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    text-align: center;
    top: -90px;
    /* background-color: brown; */
    height: 50%;
    width: 100%;
    border-top: 1px solid #7ef2e654;
    border-bottom: 1px solid #7ef2e644;
}

.liItems {
    list-style: none;
    align-items: center;
    justify-content: center;
    /* background-color: yellowgreen; */
    height: 56px;
    width: 90%;
    margin-left: 16px;
    /* border: 1px solid black; */
    /* background-color: #D95A11; */
}

.liItems:hover {
    background-color: #4d4d4d;
}

.liItems a {
    /* background-color: aqua; */
    height: 56px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
    color: var(--detaisColor);
    font-size: var(--fontSubtitulos);
    font-weight: 600;
    /* background-color: #D95A11; */
}

.liItems a:hover {
    background-color: #595959;
}

.liItems a:not(.link) {
    width: 100%;
    height: 100%;

}

.liItems a span {
    margin-right: 24px;
}

.footerMenuMobile {
    /* background-color: aqua; */
    position: relative;
    /* top: 250px; */
    padding-bottom: 44px;
    text-align: center;
    text-align: center;
}

.footerMenuMobile p {
    color: var(--detaisColor);
    /* height: 40px; */
    align-items: center;
    justify-content: center;
    font-size: var(--fontInfo);
}

.footerMenuMobile p a {
    color: #8efff4;

    text-decoration: none;
}

.footerMenuMobile p span {
    font-size: var(--fontInfo) !important;
    margin-right: 8px;
}

.openMenu {
    animation: openMenu 0.4s ease-in-out forwards;
}

.closeMenu {
    animation: closeMenu 0.4s ease-in-out forwards;
}

@keyframes openMenu {
    to {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-102%);
    }
}


/* Section One */

.mainSection {
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 100vh;
    /* background-color: var(--menuMobColor); */
    overflow-x: hidden;


}

.mainContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    /* background-color: #D95A11; */
}

.mainTitle {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 50px;
    color: var(--detaisColor);
}

.mainContainer p {
    color: var(--IconColor);
    margin-bottom: 40px;
}

.cvButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    max-width: 170px;
    /* text-align: center; */
    border-radius: 10px;
    border: none;
    font-weight: 500;
    text-transform: capitalize;
    font-family: var(--fontProject);
    transform: translateY(30px);
    background-color: var(--detaisColor)

}

.cvButton:hover {
    background-color: rgb(0, 229, 255);
    box-shadow: 0px 0px 3px 1px var(--detaisColor);
}

.cvButton span {
    margin-right: 4px;
}



/* Section Two */

.AboutMeSection {
    background-image: linear-gradient(180deg, #000000 0%, #434343 100%);
    /* background-color: var(--bgColor); */
    flex-direction: column;
}

.sectionAboutMeTitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    color: var(--detaisColor);
    font-size: var(--fontHeadLine);

}

.mainTitle:hover {
    color: rgb(0, 229, 255);
    text-shadow: 0px 0px 30px var(--detaisColor);
}

.sectionAboutMeTitle {
    margin-top: 59px;
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sectionAboutMeTitle:hover {
    color: rgb(0, 229, 255);
    text-shadow: 0px 0px 30px var(--detaisColor);
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #595959;
    width: 90%;
    /* height: 80vh; */
    position: relative;
    border-radius: 20px;
    max-width: 360px;

}

.cardBackground {
    width: 100%;
    height: 170px;
    /* border-bottom: 2px solid var(--secondaryColor); */
    /* overflow: hidden; */
}

.cardBackground img {
    width: 100%;
    height: 130%;
    border-radius: 20px 20px 0px 0px;
}

.myImage {
    z-index: 1;
    position: relative;
    /* position: absolute; */
    /* top: -70px; */
    margin-left: 35px;
    width: 150px;
    height: 150px;
    background-color: var(--menuMobColor);
    border-radius: 50%;
    overflow: hidden;
    top: -80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border: 2px solid var(--detaisColor);
}

.myImage img {
    width: 100%;
    height: 99%;
    /* border-radius: 50%; */
    margin-left: -4px;
    margin-top: 9px;
}

.curveBg {
    position: relative;
    /* background-color: blueviolet; */
    width: 100%;
    /* top: -80px; */
    height: 100%;
    background-color: #595959;
    margin-top: -157px; 
    border-radius: 20px 20px 20px 20px;
    border-top: 2px solid var(--detaisColor);
    
}

.aligParagaph {
    width: 100%;
    background-color: #262626;
}


.gitRepositorieNum{
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 10px;
}

.gitRepositorieNum p{
    text-align: center;
    width: 150px;
    height: 16px;
    /* background-color: rgb(153, 112, 51); */
    margin-right: 14px;
    /* color: var(--IconColor); */
    color: var(--detaisColor);
    margin-bottom: 4px;
}
.gitRepositorieNum p:nth-child(2){
    /* color: var(--secondaryColor); */
    color: var(--IconColor);
}

.projectsGif {
    font-size: var(--fontParagraphs);
}

.informations {
    display: flex;
    flex-direction: column;
    margin: 35px auto 10px auto;
    width: 84%;
    /* background-color: #04ADBF; */
}

.personalInformations p {
    font-size: 1.2em;
    color: var(--IconColor);
}

.contactInformations {
    margin: 18px auto;
    width: 100%;
}

.pagraphsInforms{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    /* background-color: #04ADBF; */
    margin-bottom: 4px;
    height: 30px;
    font-size: var(--fontParagraphs);
}

.iconInforms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--detaisColor);;
    margin-right: 4px;
}

.cardIcon {
    margin-right: 4px;
    font-size: var(--fontParagraphs);
}

.ButtonLearMore {
    width: 100%;
    height: 3em;
    font-family: var(--fontProject);
    font-size: var(--fontSubtitulos);
    border: none;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--detaisColor);
    cursor: pointer;
}

.ButtonLearMore:hover {
    background-color: rgb(0, 229, 255);
    box-shadow: 0px 0px 10px 1px var(--detaisColor);
}

.aboutMeContainer {
    display: none;
}

@media screen and (max-width: 330px) {
    .gitRepositorieNum{
       display: none;
    }

    .myImage {
        transition: 0.4s ease-in-out;
        /* transform: translateX(10%); */
        margin: 0 auto;
    }

    .informations {
        margin: 75px auto 10px auto;
        /* width: 84%; */
        /* background-color: #04ADBF; */
    }
}

.cardInternalItems {
   display: block;

}