@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');



@media screen and (min-width: 751px) and (max-width: 992px)  {

    
    [data-js="desktopMenu" ] {
        display: none;
    }


    [data-js="mobileMenu"] {
        display: block;
    }

    .AboutMeSection {
        /* background-color: var(--bgColor); */
        flex-direction: column;
        justify-content: start;
    }


    .card {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        /* background-color: var(--bgColor); */
        width: 90%;
        /* height: 80vh; */
        position: relative;
        border-radius: 0px;
        max-width: none;
        transition: display 0.5s ease-in-out;
        /* flex-grow: 1; */
        /* overflow: hidden; */
        align-items: center;
        margin-top: 0px;
        /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527); */
        border: none;

    }

    .cardInternalItems {
        width: 40%;

    }

    .imgContainer{
        margin-top: 0px;
        width: 82%;
        min-width: 250px;
        max-height: 300px;
      
        /* background-color: #ff7f35; */
    }

    .myImage {
        position: relative;
        width: 100%;
        max-height: 274px;
        top: 0px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
        border: 0px;
        transition:  0.5s ease-in-out;
        overflow: hidden;
    }
    .myImage img {
        width: 100%;
        height: 100%; 
        transform: translate(2px, 12px);
    }

    .backgroundImage{
        transform: translate(-8px, 8px);
    }

    .aboutMeContainer {
        display: block;
        width: 20%;
        flex-grow: 1; 
        /* background-color: #696969; */
    }

    .aboutMeContainer {
        /* font-weight: 200; */
        /* line-height: px; */
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 60%;
        color: var(--IconColor);
        /* background-color: #ff7f35; */
    }

    .textAboutMe {
        font-size: 16px;
        color: var(--IconColor);
        width: 100%;
        min-height: 95px;
        /* margin-left: 0px; */
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    
    .contactInformations {
        margin: 8px auto;
        width: 100%;
    }

    .aboutMeContainer p:is(.pagraphsInforms) {
        color: var(--IconColor);
        font-size: 12px;
        /* background-color: rebeccapurple; */
    }

    .iconInforms {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: var(--detaisColor);
        margin-right: 4px;
    }

    .cardIcon {
        margin-right: 4px;
        font-size: var(--fontParagraphs);
    }

    .ButtonLearMore {
        width: 156px;
        height: 44px;
        font-family: var(--fontProject);
        font-size: var(--fontSubtitulos);
        border: none;
        border-radius: 0px;
        background-color: var(--detaisColor);
        cursor: pointer;
    }

    .ButtonLearMore:hover {
        background-color: rgb(0, 229, 255);
        box-shadow: 0px 0px 3px 1px var(--detaisColor);
    }

    .projects {
        gap: 10px;
        width: 75%;    
    }
    


    .projects div {
        width: 180px;
        height: 210px;
        background-color: #04ADBF;
        transition: 0.7s ease-in-out;
    }


    @media screen and (max-width: 330px) {
        .gitRepositorieNum {
            display: none;
        }

        .myImage {
            transition: 0.4s ease-in-out;
            /* transform: translateX(10%); */
            margin: 0 auto;
        }

        .informations {
            margin: 75px auto 10px auto;
            /* width: 84%; */
            /* background-color: #04ADBF; */
        }
    }
}